$green:             #a2d200;
$orange:            #ffc100;
$slategray:         #3f4e62;
$darkgray:          #333;
$brand-primary:     #428bca;
$brand-success:     #5cb85c;
$brand-warning:     #f0ad4e;
$brand-danger:      #d9534f;
$brand-info:        #5bc0de;
$brand-default:     #616f77;