$font-color-white:                #fff;
$font-color:                      #616f77;
$font-color-dark:                  darken($font-color, 10%);
$font-color-light:                 lighten($font-color, 20%);

$header-bg:                       #51445f;
$sidebar-bg:                      #493d55;
$content-bg:                       lighten($font-color, 49%);
$footer-bg:                       #51445f;
$pagination-btn:                  lighten($font-color, 45%);
$main-border:                     #bbbbbb;
$advert-back-bg:                  #cdced3;
$advert-back:                     #e7eaeb;
$error-message:                   rgb(255, 78, 78);
$success-message-bg:              #45b345;
$settings-sidebar-bg:             #d4d4d4;

$transparent-white-05:			  rgba(255,255,255,.05);
$transparent-black-05:			  rgba(0,0,0,.05);