.button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.logoutButton {
    @extend .button;
    font-size: $font-size-base;
    color: $font-color;
}

.sidebarSubmit {
    @extend .button;
    background: lighten($font-color, 15%);
    width: 50%;
    padding: 6px 0;
    color: $font-color-white;
    font-size: $font-size-base;
}