.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $header-bg;
    min-height: 60px;

    &Logo {
        position: relative;
        left: 20px;
        & img {
            height: 40px;
        }
    }

    &CategoryList {
        & ul li {
            float: left;
            margin-right: 10px;
            & a {
                color: $font-color-white;
            }
        }
    }

    &Content {
        position: relative;
        right: 20px;
    }

    &Profile {
        &__profile {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &__image {
            margin-right: 10px;
            & img {
                width: 38px;
            }
        }
        &__name {
            margin-right: 10px;
            color: lighten($font-color, 52%);
        }
        &__navArrow {
            @include arrow(5px, $font-color-white, top);
        }
        &__list {
            position: absolute;
            right: 0;
            margin-top: 8px;
            border: 1px solid darken($content-bg, 10%);
            background: lighten($content-bg, 5%);
            z-index: 999;
            display: none;
            &--active {
                display: block;
            }
            &Arrow {
                position: absolute;
                right: 10px;
                top: -8px;
                @include arrow(7px, lighten($content-bg, 5%), bottom);
            }
            &Items {
                min-width: 170px;
                padding: 0 8px;
                & li {
                    padding: 8px;
                    border-bottom: 1px solid darken($content-bg, 12%);
                    position: relative;
                    height: 45px;
                    line-height: 45px;
                    &:last-child() {
                        border-bottom: none;
                    }
                    & a {
                        color: $font-color;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        padding: 0 8px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }

    &Login {
        & a {
            color: $font-color-white;
        }
        & span {
            color: lighten($header-bg, 15%);
            margin: 0 3px 0 3px;
        }
    }
}