body {
    font-family: $font-roboto;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    background-color: $content-bg;
    color: $font-color;
    box-sizing: border-box;
    overflow: hidden;
}